<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuguan.huate.db.HandleMapper">
	<select id="queryByRepairsId" resultType="com.wuguan.huate.bean.entity.Handle">
		SELECT
			id,handle_result handleResult,create_time createTime,repairs_id repairsId,handle_path handlePath,is_del isDel
		FROM ht_handle WHERE repairs_id=#{repairsId} AND is_del=0
		ORDER BY create_time DESC
	</select>
	<insert id="addData">
		INSERT INTO ht_handle 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="handleResult!=null and handleResult!=''">
				handle_result,
			</if>
			<if test="createTime!=null and createTime!=''">
				create_time,
			</if>
			<if test="repairsId!=null and repairsId!=''">
				repairs_id,
			</if>
			<if test="handlePath!=null and handlePath!=''">
				handle_path
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="handleResult!=null and handleResult!=''">
				#{handleResult},
			</if>
			<if test="createTime!=null and createTime!=''">
				#{createTime},
			</if>
			<if test="repairsId!=null and repairsId!=''">
				#{repairsId},
			</if>
			<if test="handlePath!=null and handlePath!=''">
				#{handlePath}
			</if>
		</trim>
	</insert>
</mapper>