<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuguan.huate.db.WorkerMapper">
	<insert id="addData">
		INSERT INTO ht_worker
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null and name!=''">
				`name`,
			</if>
			<if test="phone!=null and phone!=''">
				phone,
			</if>
			<if test="address!=null and address!=''">
				address,
			</if>
			<if test="createTime!=null and createTime!=''">
				create_time,
			</if>
			<if test="sex!=null and sex!=''">
				sex,
			</if>
			<if test="birthDate！=null and birthDate!=''">
				birth_date,
			</if>
			<if test="nickname!=null and nickname!=''">
				nickname,
			</if>
			<if test="openid!=null and openid!=''">
				openid,
			</if>
			<if test="password!=null and password!=''">
				`password`,
			</if>
			<if test="job!=null and job!=''">
				job
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name!=null and name!=''">
				#{name},
			</if>
			<if test="phone!=null and phone!=''">
				#{phone},
			</if>
			<if test="address!=null and address!=''">
				#{address},
			</if>
			<if test="createTime!=null and createTime!=''">
				#{createTime},
			</if>
			<if test="sex!=null and sex!=''">
				#{sex},
			</if>
			<if test="birthDate！=null and birthDate!=''">
				#{birthDate},
			</if>
			<if test="nickname!=null and nickname!=''">
				#{nickname},
			</if>
			<if test="openid!=null and openid!=''">
				#{openid},
			</if>
			<if test="password!=null and password!=''">
				#{password},
			</if>
			<if test="job!=null and job!=''">
				#{job}
			</if>
		</trim>
	</insert>
	<update id="updateData">
		UPDATE ht_worker
		<set>
			<if test="name!=null and name!=''">
				`name`=#{name},
			</if>
			<if test="phone!=null and phone!=''">
				phone=#{phone},
			</if>
			<if test="address!=null and address!=''">
				address=#{address},
			</if>
			<if test="createTime!=null and createTime!=''">
				create_time=#{createTime},
			</if>
			<if test="sex!=null and sex!=''">
				sex=#{sex},
			</if>
			<if test="birthDate！=null and birthDate!=''">
				birth_date=#{birthDate},
			</if>
			<if test="nickname!=null and nickname!=''">
				nickname=#{nickname},
			</if>
			<if test="openid!=null and openid!=''">
				openid=#{openid},
			</if>
			<if test="password!=null and password!=''">
				`password`=#{password},
			</if>
			<if test="job!=null and job!=''">
				job=#{job},
			</if>
			<if test="updateTime!=null and updateTime!=''">
				update_time=#{updateTime},
			</if>
			<if test="isDel!=null and isDel!=''">
				is_del=#{isDel},
			</if>
			<if test="isUse!=null and isUse!=''">
				is_use=#{isUse},
			</if>
			<if test="tokenPc!=null and tokenPc!=''">
				token_pc=#{tokenPc},
			</if>
			<if test="tokenMobile!=null and tokenMobile!=''">
				token_mobile=#{tokenMobile}
			</if>
		</set>
		<where>
			<if test="id!=null and id!=''">
				id=#{id}
			</if>
			<if test="openid!=null and openid!=''">
				openid=#{openid}
			</if>
		</where>
	</update>

	<select id="isExist" resultType="java.lang.Integer">
		SELECT 1 FROM ht_worker
		<where>
			1=1
			AND is_del=0
			<if test="phone!=null and phone!=''">
				AND phone=#{phone}
			</if>
			<if test="id!=null and id!=''">
				AND id!=#{id}
			</if>
		</where>
	</select>
	<select id="detailData" resultType="com.wuguan.huate.bean.entity.Worker">
		SELECT 
			id,`name`,phone,create_time createTime,update_time updateTime,
			sex,birth_date birthDate,nickname,openid,`password`,job,is_use isUse 
		FROM ht_worker WHERE id=#{id}
	</select>
	<select id="pageData" resultType="com.wuguan.huate.bean.entity.Worker">
		SELECT 
			id,`name`,phone,create_time createTime,update_time updateTime,
			sex,birth_date birthDate,nickname,openid,`password`,job,is_use isUse 
		FROM ht_worker
		<where>
			is_del=0
			<if test="content!=null and content!=''">
				AND CONCAT_WS(',',`name`,nickname,phone) LIKE CONCAT('%',#{content},'%')
			</if>
			<if test="job!=null and job!=''">
				AND job=#{job}
			</if>
		</where>
	</select>
	<select id="getWorkerByPhone" resultType="com.wuguan.huate.bean.entity.Worker">
		SELECT 
			id,`name`,phone,create_time createTime,update_time updateTime,
			sex,birth_date birthDate,nickname,openid,`password`,job,is_use isUse 
		FROM ht_worker WHERE phone=#{phone} AND is_del=0
	</select>
</mapper>