<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuguan.huate.db.HouseMapper">
	<insert id="addBatch" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO ht_house (house_no,remark_name,area,address,type,building,unit,room,state,due_time,
		water_type_id,sale,electic_type_id,rubbish_type_id,property_type_id,park_no,`owner`,rubbish_due_time) VALUES
		<foreach collection="houses" item="house" index="index" separator=",">
			(#{house.houseNo},#{house.remarkName},#{house.area},#{house.address},#{house.type},#{house.building},
			#{house.unit},#{house.room},#{house.state},#{house.dueTime},#{house.waterTypeId},#{house.sale},
			#{house.electicTypeId},#{house.rubbishTypeId},#{house.propertyTypeId},#{house.parkNo},#{house.owner},#{house.rubbishDueTime})
		</foreach>
	</insert>
	<insert id="addData" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO ht_house
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="houseNo!=null and houseNo!=''">
				house_no,
			</if>
			<if test="remarkName!=null and remarkName!=''">
				remark_name,
			</if>
			<if test="area!=null and area!=''">
				area,
			</if>
			<if test="address!=null and address!=''">
				address,
			</if>
			<if test="type!=null and type!=''">
				type,
			</if>
			<if test="building!=null and building!=''">
				building,
			</if>
			<if test="unit!=null and unit!=''">
				unit,
			</if>
			<if test="room!=null and room!=''">
				room,
			</if>
			<if test="state!=null and state!=''">
				state,
			</if>
			<if test="dueTime!=null and dueTime!=''">
				due_time,
			</if>
			<if test="waterTypeId!=null and waterTypeId!=''">
				water_type_id,
			</if>
			<if test="sale!=null and sale!=''">
				sale,
			</if>
			<if test="electicTypeId!=null and electicTypeId!=''">
				electic_type_id,
			</if>
			<if test="rubbishTypeId!=null and rubbishTypeId!=''">
				rubbish_type_id,
			</if>
			<if test="propertyTypeId!=null and propertyTypeId!=''">
				property_type_id,
			</if>
			<if test="parkNo!=null and parkNo!=''">
				park_no,
			</if>
			<if test="owner!=null and owner!=''">
				`owner`,
			</if>
			<if test="rubbishDueTime!=null and rubbishDueTime!=''">
				rubbish_due_time
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="houseNo!=null and houseNo!=''">
				#{houseNo},
			</if>
			<if test="remarkName!=null and remarkName!=''">
				#{remarkName},
			</if>
			<if test="area!=null and area!=''">
				#{area},
			</if>
			<if test="address!=null and address!=''">
				#{address},
			</if>
			<if test="type!=null and type!=''">
				#{type},
			</if>
			<if test="building!=null and building!=''">
				#{building},
			</if>
			<if test="unit!=null and unit!=''">
				#{unit},
			</if>
			<if test="room!=null and room!=''">
				#{room},
			</if>
			<if test="state!=null and state!=''">
				#{state},
			</if>
			<if test="dueTime!=null and dueTime!=''">
				#{dueTime},
			</if>
			<if test="waterTypeId!=null and waterTypeId!=''">
				#{waterTypeId},
			</if>
			<if test="sale!=null and sale!=''">
				#{sale},
			</if>
			<if test="electicTypeId!=null and electicTypeId!=''">
				#{electicTypeId},
			</if>
			<if test="rubbishTypeId!=null and rubbishTypeId!=''">
				#{rubbishTypeId},
			</if>
			<if test="propertyTypeId!=null and propertyTypeId!=''">
				#{propertyTypeId},
			</if>
			<if test="parkNo!=null and parkNo!=''">
				#{parkNo},
			</if>
			<if test="owner!=null and owner!=''">
				#{owner},
			</if>
			<if test="rubbishDueTime!=null and rubbishDueTime!=''">
				#{rubbishDueTime}
			</if>
		</trim>
	</insert>
	<update id="updateData">
		UPDATE ht_house
		<set>
			<if test="houseNo!=null and houseNo!=''">
				house_no=#{houseNo},
			</if>
			<if test="remarkName!=null and remarkName!=''">
				remark_name=#{remarkName},
			</if>
			<if test="area!=null and area!=''">
				area=#{area},
			</if>
			<if test="address!=null and address!=''">
				address=#{address},
			</if>
			<if test="type!=null and type!=''">
				type=#{type},
			</if>
			<if test="building!=null and building!=''">
				building=#{building},
			</if>
			<if test="unit!=null and unit!=''">
				unit=#{unit},
			</if>
			<if test="room!=null and room!=''">
				room=#{room},
			</if>
			<if test="state!=null and state!=''">
				state=#{state},
			</if>
			<if test="dueTime!=null and dueTime!=''">
				due_time=#{dueTime},
			</if>
			<if test="waterTypeId!=null and waterTypeId!=''">
				water_type_id=#{waterTypeId},
			</if>
			<if test="sale!=null and sale!=''">
				sale=#{sale},
			</if>
			<if test="electicTypeId!=null and electicTypeId!=''">
				electic_type_id=#{electicTypeId},
			</if>
			<if test="rubbishTypeId!=null and rubbishTypeId!=''">
				rubbish_type_id=#{rubbishTypeId},
			</if>
			<if test="propertyTypeId!=null and propertyTypeId!=''">
				property_type_id=#{propertyTypeId},
			</if>
			<if test="parkNo!=null and parkNo!=''">
				park_no=#{parkNo},
			</if>
			<if test="owner!=null and owner!=''">
				`owner`=#{owner},
			</if>
			<if test="isDel!=null and isDel!=''">
				is_del=#{isDel},
			</if>
			<if test="noticeTime!=null and noticeTime!=''">
				notice_time=#{noticeTime},
			</if>
			<if test="rubbishDueTime!=null and rubbishDueTime!=''">
				rubbish_due_time=#{rubbishDueTime}
			</if>
		</set>
		WHERE id=#{id}
	</update>
	<update id="updateDueTime">
		UPDATE ht_house SET due_time=#{dueTime} WHERE id=#{id}
	</update>
	<select id="getListHouse" resultType="com.wuguan.huate.bean.entity.House">
		SELECT id,house_no houseNo,remark_name remarkName,area,address,type,building,unit,room,state,
		water_type_id waterTypeId,sale,due_time dueTime,electic_type_id electicTypeId,rubbish_type_id rubbishTypeId,
		property_type_id propertyTypeId,park_no parkNo,`owner`,rubbish_due_time rubbishDueTime
		FROM ht_house 
		<where>
			is_del=0
			AND type!=3
			<if test="content!=null and content!=''">
				AND CONCAT_WS(',',owner,house_no) LIKE CONCAT('%',#{content},'%')
			</if>
			<if test="type!=null and type!=''">
				AND type=#{type}
			</if>
			<if test="state!=null and state!=''">
				AND state=#{state}
			</if>
		</where>
		ORDER BY id ASC
	</select>
	
	<select id="getHouses" resultType="com.wuguan.huate.bean.entity.House">
		SELECT id,house_no houseNo,remark_name remarkName,area,address,type,building,unit,room,state,
		due_time dueTime,water_type_id waterTypeId,sale,electic_type_id electicTypeId,rubbish_type_id rubbishTypeId,
		property_type_id propertyTypeId,park_no parkNo,`owner`,rubbish_due_time rubbishDueTime FROM ht_house where is_del=0
	</select>
	<select id="queryShops" resultType="com.wuguan.huate.bean.entity.House">
		SELECT id,house_no houseNo,remark_name remarkName,area,address,type,building,unit,room,state,
				due_time dueTime,water_type_id waterTypeId,sale,electic_type_id electicTypeId,rubbish_type_id rubbishTypeId,
				property_type_id propertyTypeId,park_no parkNo,`owner`,rubbish_due_time rubbishDueTime 
		FROM ht_house 
		WHERE type=3 AND is_del=0 AND house_no LIKE CONCAT('%','|','%')
	</select>
	<select id="getBuildings" resultType="java.lang.Integer">
		SELECT building FROM ht_house GROUP BY building ORDER BY building ASC
	</select>
	<select id="getUnitsByBuilding" resultType="java.lang.Integer">
		SELECT unit FROM ht_house WHERE building=#{building} GROUP BY unit ORDER BY unit ASC
	</select>
	<select id="getRoomsByUnit" resultType="java.lang.Integer">
		SELECT room FROM ht_house WHERE unit=#{unit} GROUP BY room ORDER BY room ASC
	</select>
	
	<select id="getHousesByOpenid" resultType="com.wuguan.huate.bean.entity.House">
		SELECT h.id,h.house_no houseNo,h.remark_name remarkName,h.area,h.address,h.type,h.building,h.unit,h.room,h.state,
		h.due_time dueTime,h.water_type_id waterTypeId,h.sale,h.electic_type_id electicTypeId,h.rubbish_type_id rubbishTypeId,
		h.property_type_id propertyTypeId,h.park_no parkNo,h.`owner`,h.rubbish_due_time rubbishDueTime
		FROM ht_user u
		LEFT JOIN ht_user_house uh ON u.id=uh.user_id
		LEFT JOIN ht_house h ON uh.house_id=h.id
		WHERE u.openid=#{openid} AND h.is_del=0
	</select>
	<select id="getHouseByHouseNo" resultType="com.wuguan.huate.bean.entity.House">
		SELECT id,house_no houseNo,remark_name remarkName,area,address,type,building,unit,room,state,
		due_time dueTime,water_type_id waterTypeId,sale,electic_type_id electicTypeId,rubbish_type_id rubbishTypeId,
		property_type_id propertyTypeId,park_no parkNo,`owner`,rubbish_due_time rubbishDueTime FROM ht_house WHERE house_no=#{houseNo} AND is_del=0
	</select>
	<select id="queryShop" resultType="com.wuguan.huate.bean.entity.House">
		SELECT
			id,house_no houseNo,remark_name remarkName,area,address,type,building,unit,room,state,due_time dueTime,water_type_id waterTypeId,sale,
			electic_type_id electicTypeId,rubbish_type_id rubbishTypeId,property_type_id propertyTypeId,park_no parkNo,`owner`,rubbish_due_time rubbishDueTime
		FROM ht_house WHERE `owner`	LIKE CONCAT('%',#{name},'%') AND is_del=0
	</select>
	<select id="pageData" resultType="com.wuguan.huate.bean.entity.House">
		SELECT id,house_no houseNo,remark_name remarkName,area,address,type,building,unit,room,state,
		due_time dueTime,water_type_id waterTypeId,sale,electic_type_id electicTypeId,rubbish_type_id rubbishTypeId,
		property_type_id propertyTypeId,park_no parkNo,`owner`,rubbish_due_time rubbishDueTime FROM ht_house
		<where>
			is_del=0
			AND type!=3
			<if test="content!=null and content!=''">
				AND CONCAT_WS(',',owner,house_no) LIKE CONCAT('%',#{content},'%')
			</if>
			<if test="type!=null and type!=''">
				AND type=#{type}
			</if>
			<if test="state!=null and state!=''">
				AND state=#{state},
			</if>
			<if test="building!=null and building!=''">
				AND building=#{building},
			</if>
			<if test="unit!=null and unit!=''">
				AND unit=#{unit},
			</if>
			<if test="room!=null and room!=''">
				AND room LIKE CONCAT('%',#{room},'%')
			</if>
		</where>
		ORDER BY building ASC,unit ASC,room ASC
	</select>
	<select id="shopPageData" resultType="com.wuguan.huate.bean.entity.House">
		SELECT id,house_no houseNo,remark_name remarkName,area,address,type,building,unit,room,state,
		due_time dueTime,water_type_id waterTypeId,sale,electic_type_id electicTypeId,rubbish_type_id rubbishTypeId,
		property_type_id propertyTypeId,park_no parkNo,`owner`,rubbish_due_time rubbishDueTime FROM ht_house
		<where>
			is_del=0
			AND type=3
			<if test="content!=null and content!=''">
				AND CONCAT_WS(',',owner,house_no) LIKE CONCAT('%',#{content},'%')
			</if>
			<if test="state!=null and state!=''">
				AND state=#{state}
			</if>
		</where>
		ORDER BY building ASC,unit ASC,room ASC
	</select>
	<select id="detailData" resultType="com.wuguan.huate.bean.entity.House">
		SELECT id,house_no houseNo,remark_name remarkName,area,address,type,building,unit,room,state,
		due_time dueTime,water_type_id waterTypeId,sale,electic_type_id electicTypeId,rubbish_type_id rubbishTypeId,
		property_type_id propertyTypeId,park_no parkNo,`owner`,rubbish_due_time rubbishDueTime FROM ht_house WHERE id=#{id}
	</select>
	<select id="isExist" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM ht_house 
		<where>
			<if test="houseNo!=null and houseNo!=''">
				house_no=#{houseNo}
			</if>
			<if test="id!=null and id!=''">
				AND id!=#{id}
			</if>
			AND is_del=0
		</where>
	</select>
	
	<select id="getListHouseByUserId" resultType="com.wuguan.huate.bean.entity.House">
		SELECT h.id,h.house_no houseNo,h.remark_name remarkName,h.area,h.address,h.type,h.building,h.unit,h.room,h.state,
		h.due_time dueTime,h.water_type_id waterTypeId,h.sale,h.electic_type_id electicTypeId,h.rubbish_type_id rubbishTypeId,
		h.property_type_id propertyTypeId,h.park_no parkNo,h.`owner`,h.rubbish_due_time rubbishDueTime FROM ht_house h
		LEFT JOIN ht_user_house uh ON h.id=uh.house_id
		WHERE uh.user_id=#{userId}
	</select>
	<select id="queryExpireHouse" resultType="com.wuguan.huate.bean.vo.HouseM">
		SELECT h.id,h.house_no houseNo,h.remark_name remarkName,h.area,h.address,h.type,h.building,h.unit,h.room,h.state,
			h.due_time dueTime,h.water_type_id waterTypeId,h.sale,h.electic_type_id electicTypeId,h.rubbish_type_id rubbishTypeId,
			h.property_type_id propertyTypeId,h.park_no parkNo,h.`owner`,u.openid,h.rubbish_due_time rubbishDueTime
		FROM ht_house h
		LEFT JOIN ht_user_house uh ON h.id=uh.house_id
		LEFT JOIN ht_user u ON u.id=uh.user_id
		WHERE TIMESTAMPDIFF(DAY,h.due_time,NOW())>3 AND (DATE_FORMAT(h.notice_time,'%Y-%m')!=DATE_FORMAT(NOW(),'%Y-%m') OR h.notice_time IS NULL) AND u.openid IS NOT NULL
	</select>
	<select id="getdueTimeHouses" resultType="com.wuguan.huate.bean.entity.House">
		SELECT 
			id,house_no houseNo,remark_name remarkName,area,address,type,building,unit,room,state,due_time dueTime,water_type_id waterTypeId,
			sale,electic_type_id electicTypeId,rubbish_type_id rubbishTypeId,property_type_id propertyTypeId,park_no parkNo,`owner`,rubbish_due_time rubbishDueTime
		FROM ht_house WHERE TIMESTAMPDIFF(DAY,due_time,NOW())>0 AND is_del=0
	</select>
	<select id="queryBindUser" resultType="com.wuguan.huate.bean.vo.UserHouseVo">
		SELECT
			u.id,u.`name`,u.phone,u.address,u.create_time createTime,u.update_time updateTime,u.sex,
			u.birth_date birthDate,u.nickname,u.openid,u.is_use isUse,u.token,h.house_no houseNo,h.type,h.`owner`,h.building,h.unit,h.room,h.rubbish_due_time rubbishDueTime
		FROM ht_user u
		LEFT JOIN ht_user_house uh ON u.id=uh.user_id
		LEFT JOIN ht_house h ON uh.house_id=h.id
		WHERE h.house_no IN 
		<foreach collection="houseNos" item="houseNo" index="index" open="(" close=")" separator=",">
	  		#{houseNo}
		</foreach>
		GROUP BY u.id
	</select>
</mapper>