<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuguan.huate.db.HouseConsumeMapper">
	<insert id="addBatch">
		INSERT INTO ht_house_consume (house_no,upload_time,is_pay,type,`month`,money,dosage,`explain`) VALUES
		<foreach collection="consumes" item="consume" index="index" separator=",">
			(#{consume.houseNo},#{consume.uploadTime},#{consume.isPay},#{consume.type},#{consume.month},
			#{consume.money},#{consume.dosage},#{consume.explain})
		</foreach>
	</insert>
	
	<select id="exportExcel" resultType="com.wuguan.huate.bean.entity.HouseConsume">
		SELECT id,house_no houseNo,upload_time uploadTime,is_pay isPay,pay_time payTime,type,`month`,
		money,dosage,`explain` FROM ht_house_consume
		<where>
			<if test="content!=null and content!=''">
				house_no=#{content}
			</if>
			<if test="month!=null and month!=''">
				`month`=#{month}
			</if>
			<if test="isPay!=null and isPay!=''">
				is_pay=#{isPay}
			</if>
			<if test="type!=null and type!=''">
				type=#{type}
			</if>
		</where>
		ORDER BY id ASC
	</select>
	<select id="detailData" resultType="com.wuguan.huate.bean.entity.HouseConsume">
		SELECT id,house_no houseNo,upload_time uploadTime,is_pay isPay,pay_time payTime,type,`month`,
		money,dosage,`explain` FROM ht_house_consume 
		WHERE id=#{id}
	</select>
	<select id="getHouseConsumeByHouseNo" resultType="com.wuguan.huate.bean.entity.HouseConsume">
		SELECT id,house_no houseNo,upload_time uploadTime,is_pay isPay,pay_time payTime,type,`month`,
		money,dosage,`explain` FROM ht_house_consume 
		WHERE house_no=#{houseNo} AND type=#{type} AND is_pay=0
		ORDER BY `month` ASC
	</select>
	<select id="getListDataUnPay" resultType="com.wuguan.huate.bean.entity.HouseConsume">
		SELECT id,house_no houseNo,upload_time uploadTime,is_pay isPay,pay_time payTime,type,`month`,
		money,dosage,`explain` FROM ht_house_consume 
		WHERE house_no=#{houseNo} AND is_pay=0
		ORDER BY `month` ASC
	</select>
	<update id="updatePayTime">
		UPDATE ht_house_consume SET is_pay=1,pay_time=#{payTime} WHERE id=#{id}
	</update>
	<update id="updateData">
		UPDATE ht_house_consume
		<set>
			<if test="houseNo!=null and houseNo!=''">
				house_no=#{houseNo},
			</if>
			<if test="uploadTime!=null and uploadTime!=''">
				upload_time=#{uploadTime},
			</if>
			<if test="isPay!=null and isPay!=''">
				is_pay=#{isPay},
			</if>
			<if test="payTime!=null and payTime!=''">
				pay_time=#{},
			</if>
			<if test="type!=null and type!=''">
				type=#{type},
			</if>
			<if test="month!=null and month!=''">
				month=#{month},
			</if>
			<if test="money!=null and money!=''">
				money=#{money},
			</if>
			<if test="dosage!=null and dosage!=''">
				dosage=#{dosage},
			</if>
			<if test="explain!=null and explain!=''">
				explain=#{explain}
			</if>
		</set>
		WHERE id=#{id}
	</update>
</mapper>