<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuguan.huate.db.OrderMapper">
	<insert id="addOrder">
		INSERT INTO ht_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderNo!=null and orderNo!=''">
				order_no,
			</if>
			<if test="money!=null and money!=''">
				money,
			</if>
			<if test="state!=null and state!=''">
				state,
			</if>
			<if test="payTime!=null and payTime!=''">
				pay_time,
			</if>
			<if test="userId!=null and userId!=''">
				user_id,
			</if>
			<if test="desc!=null and desc!=''">
				`desc`,
			</if>
			<if test="houseNo!=null and houseNo!=''">
				house_no,
			</if>
			<if test="carNo!=null and carNo!=''">
				car_no,
			</if>
			<if test="parkNo!=null and parkNo!=''">
				park_no,
			</if>
			<if test="createTime!=null and createTime!=''">
				create_time
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderNo!=null and orderNo!=''">
				#{orderNo},
			</if>
			<if test="money!=null and money!=''">
				#{money},
			</if>
			<if test="state!=null and state!=''">
				#{state},
			</if>
			<if test="payTime!=null and payTime!=''">
				#{payTime},
			</if>
			<if test="userId!=null and userId!=''">
				#{userId},
			</if>
			<if test="desc!=null and desc!=''">
				#{desc},
			</if>
			<if test="houseNo!=null and houseNo!=''">
				#{houseNo},
			</if>
			<if test="carNo!=null and carNo!=''">
				#{carNo},
			</if>
			<if test="parkNo!=null and parkNo!=''">
				#{parkNo},
			</if>
			<if test="createTime!=null and createTime!=''">
				#{createTime}
			</if>
		</trim>
	</insert>
	<update id="closeOrder">
		UPDATE ht_order 
		<set>
			<if test="state!=null and state!=''">
				state=#{state},
			</if>
		</set>
		is_close=1 WHERE order_no=#{orderNo}
	</update>
	<update id="updateOrderPayId">
		UPDATE ht_order SET prepay_id=#{prepayId} WHERE id=#{orderId}
	</update>
	<update id="updateOrder">
		UPDATE ht_order SET pay_time=#{payTime},state=1 WHERE order_no=#{orderNo}
	</update>
	<select id="checkOrder" resultType="com.wuguan.huate.bean.entity.Order">
		SELECT id,order_no orderNo,money,state,pay_time payTime,user_id userId,`desc`,
		is_close isClose,create_time createTime,house_no houseNo,car_no carNo,park_no parkNo FROM ht_order WHERE is_close=0 AND state!=1 AND state!=0
	</select>
	<select id="detail" resultType="com.wuguan.huate.bean.entity.Order">
		SELECT id,order_no orderNo,money,state,pay_time payTime,user_id userId,`desc`,
		is_close isClose,create_time createTime,house_no houseNo,car_no carNo,park_no parkNo FROM ht_order WHERE id=#{id}
	</select>
	<select id="detailDataByOrderNo" resultType="com.wuguan.huate.bean.entity.Order">
		SELECT id,order_no orderNo,money,state,pay_time payTime,user_id userId,`desc`,
		is_close isClose,create_time createTime,house_no houseNo,car_no carNo,park_no parkNo FROM ht_order WHERE order_no=#{orderNo}
	</select>
	<select id="pageData" resultType="com.wuguan.huate.bean.entity.Order">
		SELECT id,order_no orderNo,money,state,pay_time payTime,user_id userId,`desc`,
		is_close isClose,create_time createTime,house_no houseNo,car_no carNo,park_no parkNo FROM ht_order
		<where>
			<if test="state!=null and state!=null">
				state=#{state}
			</if>
			<if test="content!=null and content!=null">
				AND CONCAT_WS(',',order_no) LIKE CONCAT('%',#{content},'%')
			</if>
		</where>
		ORDER BY create_time DESC
	</select>
	<select id="pageDataByUser" resultType="com.wuguan.huate.bean.entity.Order">
		SELECT id,order_no orderNo,money,state,pay_time payTime,user_id userId,`desc`,
		is_close isClose,create_time createTime,house_no houseNo,car_no carNo,park_no parkNo FROM ht_order
		<where>
			<if test="param.state!=null and param.state!=null">
				state=#{param.state}
			</if>
			<if test="userId!=null and userId!=null">
				AND user_id=#{userId}
			</if>
		</where>
		ORDER BY create_time DESC
	</select>
	
	<select id="getOrders" resultType="com.wuguan.huate.bean.entity.Order">
		SELECT id,order_no orderNo,money,state,pay_time payTime,user_id userId,`desc`,
		is_close isClose,create_time createTime,house_no houseNo,car_no carNo,park_no parkNo FROM ht_order
		<where>
			<if test="state!=null and state!=null">
				state=#{state}
			</if>
			<if test="content!=null and content!=null">
				AND CONCAT_WS(',',order_no) LIKE CONCAT('%',#{content},'%')
			</if>
		</where>
		ORDER BY create_time DESC
	</select>
	<select id="wyLjPayRecords" resultType="com.wuguan.huate.bean.vo.OrderRecord">
		SELECT oi.order_no orderNo,oi.money,u.phone,oi.`desc`,o.is_pay isPay,o.pay_time payTime,o.house_no houseNo FROM ht_house h
		LEFT JOIN ht_order_item oi ON h.id=oi.relation_id AND oi.fee_type_id=#{type}
		LEFT JOIN ht_order o ON oi.order_no=o.order_no
		LEFT JOIN ht_user u ON u.id=oi.user_id
		WHERE h.id=#{id}
		ORDER BY o.pay_time DESC
	</select>
	<select id="sdPayRecords" resultType="com.wuguan.huate.bean.vo.OrderRecord">
		SELECT oi.order_no orderNo,oi.money,u.phone,oi.`desc`,o.is_pay isPay,o.pay_time payTime,o.house_no houseNo FROM ht_house_consume c
		LEFT JOIN ht_order_item oi ON c.id=oi.relation_id AND oi.fee_type_id=#{type}
		LEFT JOIN ht_order o ON oi.order_no=o.order_no
		LEFT JOIN ht_user u ON u.id=oi.user_id
		WHERE c.house_no=#{houseNo}
		ORDER BY o.pay_time DESC
	</select>
	<select id="carPayRecords" resultType="com.wuguan.huate.bean.vo.OrderRecord">
		SELECT oi.order_no orderNo,oi.money,u.phone,oi.`desc`,o.is_pay isPay,o.pay_time payTime,o.car_no carNo,o.park_no parkNo FROM ht_park p
		LEFT JOIN ht_order_item oi ON oi.relation_id=p.id AND oi.fee_type_id=#{type}
		LEFT JOIN ht_order o ON oi.order_no=o.order_no
		LEFT JOIN ht_user u ON u.id=oi.user_id
		<where>
			1=1
			<if test="id!=null and id!=''">
				AND p.id=#{id}
			</if>
			<if test="houseNo!=null and houseNo!=''">
				AND p.house_no=#{houseNo}
			</if>
		</where>
		ORDER BY o.pay_time DESC
	</select>
</mapper>