<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuguan.huate.db.RoleMapper">
	<select id="isExist" resultType="java.lang.Integer">
		SELECT 1 FROM ht_role
		<where>
			<if test="roleName!=null and roleName!=''">
				role_name=#{roleName}
			</if>
			<if test="id!=null and id!=''">
				AND id!=#{id}
			</if>
			AND is_del=0
		</where>
	</select>
	<select id="isUse" resultType="java.lang.Integer">
		SELECT 1 FROM ht_worker_role WHERE role_id=#{roleId}
	</select>
	<select id="detailData" resultType="com.wuguan.huate.bean.entity.Role">
		SELECT id,`desc`,role_name roleName FROM ht_role WHERE id=#{id}
	</select>
	<select id="listRoles" resultType="com.wuguan.huate.bean.entity.Role">
		SELECT id,`desc`,role_name roleName FROM ht_role
	</select>
	<insert id="addData">
		INSERT INTO ht_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="desc!=null and desc!=''">
				desc,
			</if>
			<if test="roleName!=null and roleName!=''">
				role_name
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="desc!=null and desc!=''">
				#{desc},
			</if>
			<if test="roleName!=null and roleName!=''">
				#{roleName}
			</if>
		</trim>
	</insert>
	
	<update id="updateData">
		UPDATE ht_role 
		<set>
			<if test="desc!=null and desc!=''">
				desc=#{desc},
			</if>
			<if test="roleName!=null and roleName!=''">
				role_name=#{roleName}
			</if>
			<if test="isDel!=null and isDel!=''">
				is_del=#{isDel}
			</if>
		</set>
		WHERE id=#{id}
	</update>
	<select id="getRolesByWorkerId" resultType="com.wuguan.huate.bean.entity.Role">
		SELECT id,`desc`,role_name roleName FROM ht_role r
		LEFT JOIN ht_worker_role wr ON r.id=wr.role_id
		WHERE wr.worker_id=#{workerId} AND r.is_del=0
	</select>
</mapper>