<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuguan.huate.db.VisitorMapper">
	<select id="detailData" resultType="com.wuguan.huate.bean.vo.VisitorVo">
		SELECT
			v.id,v.`name`,v.phone,v.house_no houseNo,v.apply_user_id applyUserId,u.nickname,v.apply_user_phone applyUserPhone,v.apply_user_name applyUserName,
			v.`code`,v.access_time accessTime,v.create_time createTime,v.num,v.car_no carNo,v.affirm_time affirmTime
		FROM ht_visitor v
		LEFT JOIN ht_user u ON v.apply_user_id=u.id
		WHERE v.id=#{id}
	</select>
	<select id="pageData" resultType="com.wuguan.huate.bean.vo.VisitorVo">
		SELECT
			v.id,v.`name`,v.phone,v.house_no houseNo,v.apply_user_id applyUserId,u.nickname,v.apply_user_phone applyUserPhone,v.apply_user_name applyUserName,
			v.`code`,v.access_time accessTime,v.create_time createTime,v.num,v.car_no carNo,v.affirm_time affirmTime
		FROM ht_visitor v
		LEFT JOIN ht_user u ON v.apply_user_id=u.id
		<where>
			1=1
			<if test="content!=null and content!=''">
				AND CONCAT_WS(',',v.`name`,v.phone,v.house_no,v.car_no) LIKE CONCAT('%',#{content},'%')
			</if>
		</where>
		ORDER BY v.create_time DESC
	</select>
</mapper>