<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuguan.huate.db.WorkerMapper">
	<insert id="addData" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO ht_worker
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null and name!=''">
				`name`,
			</if>
			<if test="phone!=null and phone!=''">
				phone,
			</if>
			<if test="address!=null and address!=''">
				address,
			</if>
			<if test="createTime!=null and createTime!=''">
				create_time,
			</if>
			<if test="sex!=null and sex!=''">
				sex,
			</if>
			<if test="birthDate!=null and birthDate!=''">
				birth_date,
			</if>
			<if test="nickname!=null and nickname!=''">
				nickname,
			</if>
			<if test="openid!=null and openid!=''">
				openid,
			</if>
			<if test="password!=null and password!=''">
				`password`
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name!=null and name!=''">
				#{name},
			</if>
			<if test="phone!=null and phone!=''">
				#{phone},
			</if>
			<if test="address!=null and address!=''">
				#{address},
			</if>
			<if test="createTime!=null and createTime!=''">
				#{createTime},
			</if>
			<if test="sex!=null and sex!=''">
				#{sex},
			</if>
			<if test="birthDate!=null and birthDate!=''">
				#{birthDate},
			</if>
			<if test="nickname!=null and nickname!=''">
				#{nickname},
			</if>
			<if test="openid!=null and openid!=''">
				#{openid},
			</if>
			<if test="password!=null and password!=''">
				#{password}
			</if>
		</trim>
	</insert>
	<update id="updateData">
		UPDATE ht_worker
		<set>
			<if test="name!=null and name!=''">
				`name`=#{name},
			</if>
			<if test="phone!=null and phone!=''">
				phone=#{phone},
			</if>
			<if test="address!=null and address!=''">
				address=#{address},
			</if>
			<if test="createTime!=null and createTime!=''">
				create_time=#{createTime},
			</if>
			<if test="sex!=null and sex!=''">
				sex=#{sex},
			</if>
			<if test="birthDate!=null and birthDate!=''">
				birth_date=#{birthDate},
			</if>
			<if test="nickname!=null and nickname!=''">
				nickname=#{nickname},
			</if>
			<if test="openid!=null and openid!=''">
				openid=#{openid},
			</if>
			<if test="password!=null and password!=''">
				`password`=#{password},
			</if>
			<if test="updateTime!=null and updateTime!=''">
				update_time=#{updateTime},
			</if>
			<if test="isDel!=null">
				is_del=#{isDel},
			</if>
			<if test="isUse!=null">
				is_use=#{isUse},
			</if>
			<if test="tokenPc!=null and tokenPc!=''">
				token_pc=#{tokenPc},
			</if>
			<if test="tokenMobile!=null and tokenMobile!=''">
				token_mobile=#{tokenMobile}
			</if>
		</set>
		<where>
			<if test="id!=null and id!=''">
				id=#{id}
			</if>
			<if test="openid!=null and openid!=''">
				openid=#{openid}
			</if>
		</where>
	</update>

	<select id="isExist" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM ht_worker
		<where>
			1=1
			<if test="phone!=null and phone!=''">
				AND phone=#{phone}
			</if>
			<if test="id!=null and id!=''">
				AND id!=#{id}
			</if>
		</where>
	</select>
	<select id="detailData" resultType="com.wuguan.huate.bean.entity.Worker">
		SELECT 
			w.id,w.`name`,w.phone,w.create_time createTime,w.update_time updateTime,
			w.sex,w.birth_date birthDate,w.nickname,w.openid,w.`password`,w.is_use isUse,wr.role_id roleId
		FROM ht_worker w
		LEFT JOIN ht_worker_role wr ON w.id=wr.worker_id WHERE w.id=#{id}
	</select>
	<select id="pageData" resultType="com.wuguan.huate.bean.entity.Worker">
		SELECT 
			w.id,w.`name`,w.phone,w.create_time createTime,w.update_time updateTime,
			w.sex,w.birth_date birthDate,w.nickname,w.openid,w.`password`,w.is_use isUse,wr.role_id roleId
		FROM ht_worker w
		LEFT JOIN ht_worker_role wr ON w.id=wr.worker_id
		<where>
			is_del=0
			<if test="content!=null and content!=''">
				AND CONCAT_WS(',',`name`,nickname,phone) LIKE CONCAT('%',#{content},'%')
			</if>
			<if test="roleId!=null and roleId!=''">
				AND wr.role_id=#{roleId}
			</if>
			ORDER BY w.create_time DESC
		</where>
	</select>
	<select id="getWorkerByPhone" resultType="com.wuguan.huate.bean.entity.Worker">
		SELECT 
			w.id,w.`name`,w.phone,w.create_time createTime,w.update_time updateTime,
			w.sex,w.birth_date birthDate,w.nickname,w.openid,w.`password`,w.is_use isUse,wr.role_id roleId
		FROM ht_worker w
		LEFT JOIN ht_worker_role wr ON w.id=wr.worker_id WHERE w.phone=#{phone} AND is_del=0
	</select>
	<select id="queryWorkersByRoleId" resultType="com.wuguan.huate.bean.entity.Worker">
		SELECT
			w.id,w.`name`,w.phone,w.address,w.is_del isDel,w.create_time createTime,w.update_time updateTime,
			w.sex,w.birth_date birthDate,w.nickname,w.openid,w.`password`,w.is_use isUse,w.token_pc tokenPc,w.token_mobile tokenMobile
		FROM ht_worker_role wr
		LEFT JOIN ht_worker w ON wr.worker_id=w.id
		WHERE wr.role_id=#{roleId} AND w.is_del=0
	</select>
</mapper>