<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuguan.huate.db.WorkerRoleMapper">
	<delete id="del">
		DELETE FROM ht_worker_role WHERE worker_id=#{workerId}
	</delete>
	
	<insert id="addBatch">	
		INSERT INTO ht_worker_role (worker_id,role_id) VALUES
		<foreach collection="roles" item="roleId" index="index" separator=",">
			(#{workerId},#{roleId})
		</foreach>
	</insert>
</mapper>